<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header2 :: common-header" />

<body>
    <div th:replace="common/header2 :: navbar" />
    <div class="container">

        <div style="margin-top:10px; margin-bottom:10px">
            <div>Google Map</div>
            <div class="col-xs-9 col-xs-offset-3" id="map">
            </div>
        </div>

    </div>
    </div>


</body>
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "0710724880", // WhatsApp number
            call_to_action: "Chat with Kketrades on WhatsApp", // Call to action
            position: "right", // Position may be 'right' or 'left'
            pre_filled_message: "Online shop for hardaware items like Fasteners,etc", // WhatsApp pre-filled message
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetBu
<!-- /GetButton.io widget -->
<div th:replace="common/header2 :: footer" />
<div th:replace="common/header2 :: body-bottom-scripts" />

</html>