
<!DOCTYPE html>
<html lang="en">
<head th:replace="common/header2 :: common-header" />

<!-- /GetBu
<!-- /GetButton.io widget -->
<body>
  <div th:replace="common/header2 :: navbar" />

  <div class="container">

    <div class="corouselcon">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>
          <li data-target="#carousel-example-generic" data-slide-to="9"></li>
          <li data-target="#carousel-example-generic" data-slide-to="10"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="image/pexels-ksenia-chernaya-5691665.jpg" srcset="image/pexels-ksenia-chernaya-5691665small.jpg 480w, image/pexels-ksenia-chernaya-5691665.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
             <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Fasteners')}"
                  role="button">Fasteners</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-ksenia-chernaya-5691638.jpg" srcset="image/pexels-ksenia-chernaya-5691638small.jpg 480w, image/pexels-ksenia-chernaya-5691638.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Building materials')}"
                  role="button">Building materials</a></p>

            </div>
          </div>
          <div class="item">
            <img src="image/pexels-energepiccom-175039.jpg" srcset="image/pexels-energepiccom-175039small.jpg 480w, image/pexels-energepiccom-175039.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Hand tools')}" role="button">Hand
                  tools</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-pixabay-162534.jpg" srcset="image/pexels-pixabay-162534small.jpg 480w, image/pexels-pixabay-162534.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Power tools')}" role="button">Power
                  tools</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-laura-gigch-943922.jpg" srcset="image/pexels-laura-gigch-943922small.jpg 480w, image/pexels-laura-gigch-943922.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Locks')}" role="button">Locks</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-ksenia-chernaya-5691511.jpg" srcset="image/pexels-ksenia-chernaya-5691511small.jpg 480w, image/pexels-ksenia-chernaya-5691511.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Hinges')}" role="button">Hinges</a>
              </p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-eva-elijas-6103072.jpg" srcset="image/pexels-eva-elijas-6103072small.jpg 480w, image/pexels-eva-elijas-6103072.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Plumbing supplies')}"
                  role="button">Plumbing supplies</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-mike-210018.jpg" srcset="image/pexels-mike-210018small.jpg 480w, image/pexels-mike-210018.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Electrical supplies')}"
                  role="button">Electrical supplies</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/image/pexels-dom-j-45059.jpg" srcset="image/pexels-dom-j-45059small.jpg 480w, image/image/pexels-dom-j-45059.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Clean products')}"
                  role="button">Cleaning products</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/image/pexels-pixabay-262896.jpg" srcset="image/pexels-pixabay-262896small.jpg 480w, image/image/pexels-pixabay-262896.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Tools utensils')}"
                  role="button">Tools utensils</a></p>
            </div>
          </div>
          <div class="item">
            <img src="image/pexels-lukas-296230.jpg" srcset="image/pexels-lukas-296230small.jpg 480w, image/pexels-lukas-296230.jpg 1080w" sizes="50vw" class="img-responsive" alt="..." />
            <div class="carousel-caption">
              <h4>First Thumbnail Label</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply
                random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old.</p>
              <p><a class="btn btn-primary" th:href="@{/searchByCategory(category='Lawn &amp; garden products')}"
                  role="button">Lawn &amp; garden products</a></p>
            </div>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div clas="panel panel-default">
          <div class="panel-body">
            <div class="frontstate">
              <p>Find your ideal tool</p>
            </div>
            <a th:href="@{/itemShelf}" alt="shop now" ><img src="image/bestsellermedium.jpg" srcset="image/bestsellersmall.jpg 480w, image/bestseller.jpg 1080w" sizes="50vw" class="img-responsive" alt="shop now" style="padding-bottom: 30px; margin: auto;" />See more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div clas="panel panel-default">
          <div class="panel-body">
            <div class="frontstate">
              <p>Hour & Direction</p>
            </div>
            <a th:href="@{/hours}" alt="hours" ><img src="image/hoursmedium.jpg" srcset="image/hourssmall.jpg 480w, image/hours.jpg 1080w" sizes="50vw" class="img-responsive" alt="hours and directions" style="padding-bottom: 30px; margin: auto;" />See direction</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div clas="panel panel-default">
          <div class="panel-body">
            <div class="frontstate">
              <p>FAQ</p>
            </div>
            <a th:href="@{/faq}" alt="fag" ><img src="image/faqmedium.jpg" srcset="image/faqsmall.jpg 480w, image/faq.jpg 1080w" sizes="50vw" class="img-responsive" alt="frequently asked questions" style="padding-bottom: 30px; margin: auto;" />See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>
<!-- GetButton.io widget -->
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "0710724880", // WhatsApp number
          call_to_action: "Chat with Kketrades on WhatsApp", // Call to action
          position: "right", // Position may be 'right' or 'left'
          pre_filled_message: "Online shop for hardaware items like Fasteners,etc", // WhatsApp pre-filled message
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>

<!-- /GetButton.io widget -->
<div th:replace="common/header2 :: footer" />
<div th:replace="common/header2 :: body-bottom-scripts" />

</html>