<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header2 :: common-header" />

<body>
    <div th:replace="common/header2 :: navbar" />

    <div class="container">

        <!-- <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span
                        th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All items'"></span>
                </h2>
            </h2>
        </div>
        
    </div> -->

        
<!-- <style>
    .horizontal{
    float: left;
    border: 1px solid green;
    text-align: left;
    
}

.horizontal  *{

    display: inline-block;
    margin-left: 10px;

    padding: 2px 2px 2px 2px;
}

</style> -->
        
        <div class="">
            <div th:if="${emptyList}">
                <h5 style="font-style: italic;">Oops, no result is found. Try
                    something else or try again later.</h5>
            </div>

            <table border="0" class="horizontal cont" id="itemList">                
                <tbody>
                    <tr class="item-item newspaper art" data-th-each="item : ${itemList}">
                        <td class="wid">
                            <div th:if="${item != null}">
                                    <div class="col-xs-3x">
                                        <a th:href="@{/itemDetail?id=}+${item.id}"><img
                                                class="img-responsive shelf-item"
                                                th:src="#{adminPath}+@{${item.mainImagePath}}" /></a>
                                    </div>
                                    <div class="col-xs-9x">
                                        <a th:href="@{/itemDetail?id=}+${item.id}">
                                           <h4 style=" line-height: 1.6" id="hfont" th:text="${item.title}"></h4>
                                        </a>
                                        <a th:href="@{/itemDetail?id=}+${item.id}"></a><br />

                                        <a th:href="@{/itemDetail?id=}+${item.id}"><span id="pricetag2"
                                                style="color: #db3208;">Ksh.<span id="pricetag"
                                                    th:text="${#numbers.formatDecimal(item.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>

                                    </div>
                               
                            </div>
                        </td>
                    </tr>
                    <div class="clear"></div>
                </tbody>
            </table>
        </div>


    </div>
</body>
<div th:replace="common/header2 :: footer" />
<div th:replace="common/header2 :: body-bottom-scripts" />
<script>
function listLimit (elm, line){
    var maxHeight = parseInt(elm.css('line-Height'))*line;

    while(elm.height() > maxHeight){
        var text = elm.text();
        elm.text(text.substring(0,text.length-10)).text(elm.text()+'...');
    }
}

$('h4').each(function(){
   listLimit ($(this), 4)
})
    </script>


 <script>
 $(document).ready( function () {
	    $('#itemList').DataTable();
	} );
    </script>



</html>